# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

ssh-rsa
AAAAB3NzaC1yc2EAAAADAQABAAA
BAQDNHXFbZE 1AqUfaql8xGfml83Mc
3QAt7OguueJVuC4D663cPAdZZzbw4
buYt0e2jx7zqUtVkvyB2gViZ5h3Ji9Tkef
MfGEmFdTmaaoBfsicMWRmgfiueU+v
gnJk152LLAmRWavmjeCzNmEKFUCO
A5BdpaoLc7151Dt7efu0XosmNP430sl
YQU33ZROGpFxqmnzctL8fisxjcwsC5v
IY2DW0rMI+aWQQ8A6160ZMhVqP5K
MtPqGRJJjRPLmoCe0gz3nTzH/c9j0SI
fPa2fGsPYpaXTIfJWbu2hJWuH03Wb
WjjtFRoe4fqyHjqelufuQpX50D2f663Q
MtOL/gLllpOv61



